
record(mbbi, "$(P)BL:$(BL):SHUTTER:MODE")
{
   field(DESC, "Shutter mode on BL $(BL)")
   field(DTYP, "asynInt32")
   field(INP,  "@asyn(isisbeam,0,0)$(BL)_mode")
   field(SCAN, "I/O Intr")
   field(SDIS, "$(P)ISISBEAM:DISABLE")
   field(SIML, "$(P)ISISBEAM:SIM")
   field(ZRVL, 0)
   field(ONVL, 1)
   field(TWVL, 2)
   field(THVL, 3)
   field(FRVL, 4)
   field(FVVL, 5)
   field(SXVL, 6)
   field(SVVL, 7)
   field(EIVL, 8)
   field(NIVL, 9)
   field(TEVL, 98)
   field(ELVL, 99)
# De-Activated
   field(ZRST, "DEACT")
# Manual (Control Room HMI)
   field(ONST, "MANUAL")
# Remote Manual (used for shutter scanning)
   field(TWST, "REM-MANUAL")
# Shield Top Control (used for maintenance)
   field(THST, "STC")
# Opening (beam line request) 
   field(FRST, "OPENING-BLR")
# Closing (beam line request)
   field(FVST, "CLOSING-BLR")
# Position Correction
   field(SXST, "POS-CORR")
# Opening (control Room HMI request)
   field(SVST, "OPENING-CR")
# Closing (control Room HMI request)
   field(EIST, "CLOSING-CR")
# Emergency Close (control Room HMI request)
   field(NIST, "EMG-CLOSE")
# Beam Line Control (no auto correction)
   field(TEST, "BLC-NAC")
# Beam Line Control (with auto correction)
   field(ELST, "BLC-AC")
}
