
record(mbbi, "$(P)BL:$(BL):SHTR:MODE")
{
   field(DESC, "Shutter mode on BL $(BL)")
   field(DTYP, "asynInt32")
   field(INP,  "@asyn(isisbeam,0,0)$(BL)_mode")
   field(SCAN, "I/O Intr")
   field(SDIS, "$(P)ISISBEAM:DISABLE")
   field(SIML, "$(P)ISISBEAM:SIM")
   field(UNSV, "MINOR")
   field(ZRVL, 0)
   field(ONVL, 1)
   field(TWVL, 2)
   field(THVL, 3)
   field(FRVL, 4)
   field(ZRST, "DEACT")
   field(ONST, "LOCAL-HMI")
   field(TWST, "REMOTE-HMI")
   field(THST, "SHIELD-TOP")
   field(FRST, "BEAMLINE")
}
