## dummy shutter mode for TS1

record(mbbi, "$(P)BL:$(BL):SHTR:MODE")
{
   field(DESC, "Shutter mode on BL $(BL)")
   field(VAL, 4)
   field(PINI, "YES")
   field(UNSV, "MINOR")
   field(ZRVL, 0)
   field(ONVL, 1)
   field(TWVL, 2)
   field(THVL, 3)
   field(FRVL, 4)
   field(ZRST, "DEACT")
   field(ONST, "LOCAL-HMI")
   field(TWST, "REMOTE-HMI")
   field(THST, "SHIELD-TOP")
   field(FRST, "BEAMLINE")
}
