
record(mbbi, "$(P)BL:$(BL):SHTR:STAT")
{
   field(DESC, "Shutter status on BL $(BL)")
   field(DTYP, "asynInt32")
   field(INP,  "@asyn(isisbeam,0,0)$(BL)_shut")
   field(SCAN, "I/O Intr")
   field(SDIS, "$(P)ISISBEAM:DISABLE")
   field(SIML, "$(P)ISISBEAM:SIM")
   field(UNSV, "MINOR")
   field(FRSV, "MINOR")
   field(ZRVL, 0)
   field(ONVL, 1)
   field(TWVL, 2)
   field(THVL, 3)
   field(FRVL, 4)
   field(ZRST, "DEACT")
   field(ONST, "OPEN")
   field(TWST, "CLOSED")
   field(THST, "MOVING")
   field(FRST, "FAULT")	
}
