# TS1 shutter is only open or closed, but we emulate the same staets as TS2 for uniformity
record(mbbi, "$(P)BL:$(BL):SHTR:STAT")
{
   field(DESC, "Shutter status on BL $(BL)")
   field(INP,  "$(P)BL:$(BL):SHTR:STAT:CALC NPP")
   field(UNSV, "MINOR")
   field(FRSV, "MINOR")
   field(ZRVL, 0)
   field(ONVL, 1)
   field(TWVL, 2)
   field(THVL, 3)
   field(FRVL, 4)
   field(ZRST, "DEACT")
   field(ONST, "OPEN")
   field(TWST, "CLOSED")
   field(THST, "MOVING")
   field(FRST, "FAULT")	
}

record(calc, "$(P)BL:$(BL):SHTR:STAT:CALC")
{
   field(INPA, "$(P)BL:SHTR:SHUT$(NS).$(BIT) CP")
   field(CALC, "A = 0 ? 2 : 1")
   field(FLNK, "$(P)BL:$(BL):SHTR:STAT.PROC")
   field(SDIS, "$(P)ISISBEAM:DISABLE")
}
