
record(longin, "$(P)BL:$(BL):SHUTTER:STATUS")
{
   field(DESC, "Shutter status on BL $(BL)")
   field(DTYP, "asynInt32")
   field(INP,  "@asyn(isisbeam,0,0)$(BL)_shut")
   field(SCAN, "I/O Intr")
   field(SDIS, "$(P)ISISBEAM:DISABLE")
   field(SIML, "$(P)ISISBEAM:SIM")
}

